In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('submission_6.csv')

In [3]:
df.shape

(2994463, 3)

In [4]:
df.head()

        id  Sent_ID tag
0  4543834   191283   O
1  4543835   191283   O
2  4543836   191283   O
3  4543837   191283   O
4  4543838   191283   O

In [6]:
df['prev_tag'] = df['tag'].shift(1)

In [12]:
df['prev_Sent_ID'] = df['Sent_ID'].shift(1)

In [7]:
df['tag'].value_counts()

O                2936751
B-indications      30352
I-indications      27360
Name: tag, dtype: int64

In [17]:
df[(df['prev_tag'] == 'O') & (df['tag'] == 'I-indications')]

              id  Sent_ID            tag prev_tag  prev_Sent_ID
117741   4661575   196246  I-indications        O      196245.0
2731228  7275062   305997  I-indications        O      305996.0

In [22]:
df.at[117741, 'tag'] = 'B-indications'
df.at[2731228, 'tag'] = 'B-indications'

In [24]:
df['prev_tag'] = df['tag'].shift(1)

In [25]:
df[(df['prev_tag'] == 'O') & (df['tag'] == 'I-indications')]

Empty DataFrame
Columns: [id, Sent_ID, tag, prev_tag, prev_Sent_ID]
Index: []

In [29]:
indices = df[(df['prev_tag'] == 'B-indications') & (df['tag'] == 'B-indications')].index

In [30]:
for i in indices:
    df.at[i, 'tag'] = 'I-indications'

In [31]:
df['prev_tag'] = df['tag'].shift(1)

In [32]:
df[(df['prev_tag'] == 'B-indications') & (df['tag'] == 'B-indications')]

Empty DataFrame
Columns: [id, Sent_ID, tag, prev_tag, prev_Sent_ID]
Index: []

In [33]:
df.to_csv('submission_7.csv', index=False)

In [34]:
df['tag'].value_counts()

O                2936751
B-indications      30274
I-indications      27438
Name: tag, dtype: int64

In [35]:
df.shape

(2994463, 5)

In [36]:
df.head()

        id  Sent_ID tag prev_tag  prev_Sent_ID
0  4543834   191283   O      NaN           NaN
1  4543835   191283   O        O      191283.0
2  4543836   191283   O        O      191283.0
3  4543837   191283   O        O      191283.0
4  4543838   191283   O        O      191283.0

In [37]:
submit_df = df[['id', 'Sent_ID', 'tag']]
submit_df.to_csv('submission_8.csv', index=False)

In [38]:
orig_df=pd.read_csv('submission_6.csv')

In [39]:
orig_df['prev_tag'] = orig_df['tag'].shift(1)
orig_df['prev_Sent_ID'] = orig_df['Sent_ID'].shift(1)

In [40]:
same_sent = orig_df[orig_df['Sent_ID'] == orig_df['prev_Sent_ID']]

In [41]:
changed_df = orig_df.copy()

In [42]:
changed_df.at[117741, 'tag'] = 'B-indications'
changed_df.at[2731228, 'tag'] = 'B-indications'

In [43]:
changed_df['prev_tag'] = orig_df['tag'].shift(1)
changed_df['prev_Sent_ID'] = orig_df['Sent_ID'].shift(1)
same_sent = changed_df[changed_df['Sent_ID'] == changed_df['prev_Sent_ID']]

In [44]:
indices = same_sent[(same_sent['prev_tag'] == 'B-indications') & (same_sent['tag'] == 'B-indications')].index

In [45]:
len(indices)

80